*.exe
seq-model/seq-model.v11.suo
seq-model/seq-model.opensdf
seq-model/seq-model.sdf
seq-model/Release/*
seq-model/Debug/*
seq-model/*/Release/*
seq-model/*/Debug/*
seq-model/*/*/Release/*
seq-model/*/*/Debug/*
